body > table{
    
    width: 80%;
    padding-top: 5%;
    padding-left: 20%;
}

table.list{
    width: 80%;
}
td, th{
    border: 1px solid #fd0303;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even),table.list thead>tr{
    background-color: #f26060;
}
input[type=text], input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ba4545;
    border-radius: 4px;
    cursor: pointer;
}
form div.form-action-buttons{
    text-align: right;
}