.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    height: 600px;
    width: 400px;
    margin-top: 15%;
    margin-left: 30%;
    background-image: linear-gradient(to bottom right, rgb(0, 128, 255), aqua);
    text-align: center;
}

.Plans {
    width: 350px;
    height: 550px;
    border-radius: 0.5cm;
    margin-top: 20px;
    background-color: white;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 25px;
    width: 300px;
}

.button5 {
    background-color: rgb(0, 140, 255);
    border-radius: 2cm;
}